@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');



body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding: 0%;
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}









.nav-item a{
    padding: 30px;
}

.bg-image{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(253, 253, 253, 0.699); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

    .btn {
      background-color: rgb(7, 138, 7); 
      border-color: rgb(7, 138, 7);
    }
    .btn-block :hover{
      background-color: rgb(12, 25, 85); 
    
    }
    .site-section {
      padding: 2.5em 0; }
      @media (min-width: 768px) {
        .site-section {
          padding: 5em 0; } }
      .site-section.site-section-sm {
        padding: 4em 0; }


